{% extends "layout.html" %}
{% load static %}
{% block title %}
    List
{% endblock title %}
{% block t %}    
    <div class="container mt-3">
        <div class="row" >
            <div class="col-3">
                {% include "kitaplar/partials/_category.html" %}
            </div>
            <div class="col-9">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th style="width:100px"></th>
                            <th>Kitap İsmi</th>
                            <th>Yazarı</th>
                            <th>Yayınevi</th>
                            {% if user.is_superuser %}
                            <th>Favoriye Ekle</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if books_list|length == 0 %}
                            <div class="alert alert-danger">Henüz bu kategoride bir kitap bulunmuyor.</div>
                        {% endif %}
                        {% for bookl in books_list %}
                            <tr>
                                <td> <img class="img-fluid" src="{{bookl.image.url}}" alt=""></td>
                                <td><a href="{% url "detay" bookl.id %}">{{bookl.name}}</a></td>
                                <td><a href="{% url "yazarsayfasi" bookl.author.slug %}">{{bookl.author}}</a></td>
                                <td><a href="{% url "yayinevi" bookl.publisher.slug %}">{{bookl.publisher}}</a></td>
                                {% if user.is_superuser %}
                                <td> <a class="btn btn-primary" href="{% url 'favorite' bookl.id %}"> + Favoriler </a></td>
                                <td> <a class="btn btn-danger mt-4" href="{% url "delete_book" bookl.id %}">Sil</a><br>
                                    <a class="btn btn-success mt-2" href="{% url "update_book" bookl.id %}">Güncelle</a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock t %}
