{% extends "layout.html" %}
{% block title %}
    Detay
{% endblock title %}
{% block t %}   
<div class="container mb-3">
    <div class="row">
        <div class="col-3">
            <img src="{{book_detail.image.url}}" alt="" class="img-fluid">
        </div>
        <div class="col-9">
            <h1> {{book_detail.name}}</h1>
            <h6>Yazar: {{book_detail.author}}</h3>
            <h6>Yayınevi: {{book_detail.publisher}}</h3>
            <p>{{book_detail.summary}}</p>

        </div>
    </div>
</div>
{% endblock t %}