{% extends "layout.html" %}
{% block title %}
    Yayınevi 
{% endblock title %}
{% block t %}   
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Kitaplar</th>
                        <th>Yazar</th>
                    </tr>
                </thead>
                <tbody>
                    {% if book|length == 0 %}
                        <tr>
                            <td colspan="2">
                                <div class="alert alert-danger">Kitap Bulunmuyor</div>
                            </td>
                        </tr>
                    {% endif %}
                    {% for book_p in book %}
                        <tr>
                            <td>{{ book_p.name }}</td>
                            <td>{{ book_p.author }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock t %}
