{% extends "layout.html" %}
{% load static %}
{% block t %}
    {% block title %}
        Register
    {% endblock title %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Register</h1>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {% include "partials/_forms.html" %}
                    <button type="submit" class="btn btn-dark"></button>
                </form>

            </div>
        </div>
    </div>
{% endblock t %}