{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}
    
    {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css '%}">
</head>
<body >
    {% include "navbar.html" %}
    
    {% block t %}
    
    {% endblock t %}
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>