{% load static %}
<div class="card mb-3" style="width: 14rem;">
    <div class="row">
        <div class="col-4 ">
            <img class="card-img-top" src="{{ bookl.image.url }}" alt="{{bookl.name}}">
        </div>
        <div class="col-8 ">
          <h5 class="card-title">
              <a href="#">
                  {{bookl.name}}
              </a>
          </h5>
          <p class="card-text">{{bookl.author}}</p>
          <p>{{bookl.publisher}}</p>
        </div>
    </div>
    
    
  </div>